### Import necessary packages and the scikit-learn Linnerud dataset

In [6]:
from sklearn.datasets import load_linnerud
import pandas as pd
import sys
sys.path.append('../')
from tabularmagic import TabularMagic
from tabularmagic.models import Linear, Tree, TreeEnsemble, SVM, MLP

data, target = load_linnerud(return_X_y=True, as_frame=True)
df = pd.concat((data, target))
display(df)

    Chins  Situps  Jumps  Weight  Waist  Pulse
0     5.0   162.0   60.0     NaN    NaN    NaN
1     2.0   110.0   60.0     NaN    NaN    NaN
2    12.0   101.0  101.0     NaN    NaN    NaN
3    12.0   105.0   37.0     NaN    NaN    NaN
4    13.0   155.0   58.0     NaN    NaN    NaN
5     4.0   101.0   42.0     NaN    NaN    NaN
6     8.0   101.0   38.0     NaN    NaN    NaN
7     6.0   125.0   40.0     NaN    NaN    NaN
8    15.0   200.0   40.0     NaN    NaN    NaN
9    17.0   251.0  250.0     NaN    NaN    NaN
10   17.0   120.0   38.0     NaN    NaN    NaN
11   13.0   210.0  115.0     NaN    NaN    NaN
12   14.0   215.0  105.0     NaN    NaN    NaN
13    1.0    50.0   50.0     NaN    NaN    NaN
14    6.0    70.0   31.0     NaN    NaN    NaN
15   12.0   210.0  120.0     NaN    NaN    NaN
16    4.0    60.0   25.0     NaN    NaN    NaN
17   11.0   230.0   80.0     NaN    NaN    NaN
18   15.0   225.0   73.0     NaN    NaN    NaN
19    2.0   110.0   43.0     NaN    NaN    NaN
0     NaN     NaN    NaN   191.0   36.0   50.0
1     NaN     NaN    NaN   189.0   37.0   52.0
2     NaN     NaN    NaN   193.0   38.0   58.0
3     NaN     NaN    NaN   162.0   35.0   62.0
4     NaN     NaN    NaN   189.0   35.0   46.0
5     NaN     NaN    NaN   182.0   36.0   56.0
6     NaN     NaN    NaN   211.0   38.0   56.0
7     NaN     NaN    NaN   167.0   34.0   60.0
8     NaN     NaN    NaN   176.0   31.0   74.0
9     NaN     NaN    NaN   154.0   33.0   56.0
10    NaN     NaN    NaN   169.0   34.0   50.0
11    NaN     NaN    NaN   166.0   33.0   52.0
12    NaN     NaN    NaN   154.0   34.0   64.0
13    NaN     NaN    NaN   247.0   46.0   50.0
14    NaN     NaN    NaN   193.0   36.0   46.0
15    NaN     NaN    NaN   202.0   37.0   62.0
16    NaN     NaN    NaN   176.0   37.0   54.0
17    NaN     NaN    NaN   157.0   32.0   52.0
18    NaN     NaN    NaN   156.0   33.0   54.0
19    NaN     NaN    NaN   138.0   33.0   68.0